pkgbase = activitywatch-bin
	pkgdesc = Log what you do on your computer. Simple, extensible, no third parties.
	pkgver = 0.12.3b12
	pkgrel = 2
	url = https://github.com/ActivityWatch/activitywatch
	arch = x86_64
	license = MPL2
	depends = freetype2
	depends = libgcrypt
	depends = at-spi2-core
	depends = glibc
	depends = fontconfig
	depends = libxdamage
	depends = libbsd
	depends = pcre2
	depends = pango
	depends = libxrender
	depends = xcb-util
	depends = libxfixes
	depends = qt6-base
	depends = harfbuzz
	depends = libxinerama
	depends = libglvnd
	depends = xz
	depends = qt6-webengine
	depends = libxcursor
	depends = glib2
	depends = libdatrie
	depends = wayland
	depends = gcc-libs
	depends = pixman
	depends = libx11
	depends = bash
	depends = zlib
	depends = lz4
	depends = systemd-libs
	depends = libxi
	depends = bzip2
	depends = cairo
	depends = libxcomposite
	depends = openssl-1.1
	depends = sqlite
	depends = xcb-util-cursor
	depends = keyutils
	depends = libepoxy
	depends = util-linux-libs
	depends = qt6-svg
	depends = readline
	depends = dbus
	depends = libgpg-error
	depends = libxcb
	depends = gdk-pixbuf2
	depends = libxkbcommon
	depends = krb5
	depends = libxkbcommon-x11
	depends = qt6-wayland
	depends = libxrandr
	depends = gtk3
	depends = xcb-util-image
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = libxext
	depends = e2fsprogs
	depends = libpng
	depends = libdrm
	depends = xcb-util-keysyms
	depends = fribidi
	depends = libthai
	provides = activitywatch
	conflicts = activitywatch
	source = https://github.com/ActivityWatch/activitywatch/releases/download/v0.12.3b12/activitywatch-v0.12.3b12-linux-x86_64.zip
	md5sums = 74f605bf34f9f352261ca9a53cc32082

pkgname = activitywatch-bin
